.videos {
  text-align: center;
}

/* .remote-video-user {
  text-align: center;
  border-width: 2px;
  border-color: red;
  border-style: dashed;
} */

video {
  max-width: 640px;
  max-height: 200px;
}

.user-video{
  padding-top: 50px;
  padding-bottom: 25px;
}

.remote-video-user{
  padding: 25px;
}